[Desktop Entry]
Version=1.0
Type=Application
Name[pt_BR]=Pesquisa Synapse
Name[pt]=Pesquisa Synapse
Name=Synapse Search
Comment[pt_BR]=Busque em tudo que você faz.
Comment[pt]=Procure tudo aquilo que faz.
Comment=Search everything you do.
Exec=synapse
Icon=folder-saved-search
Path=
Terminal=false
StartupNotify=true
